In [50]:
import pandas as pd
import numpy as np
import os

In [51]:
missing_values=['', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', ' NA ', 'NULL', 'NaN', 'n/a',
    'nan', 'null']
uber = pd.read_csv("C:/Users/aksha/Documents/Data Analytics/Uber-dataset/uber-raw-data-sep14.csv", na_values=missing_values)

In [52]:
uber.isnull().sum()

Date/Time    0
Lat          0
Lon          0
Base         0
dtype: int64

In [53]:
uber.columns = ["Date","Lat","Lon","Base"]

In [54]:
uber.dropna()

                       Date      Lat      Lon    Base
0          9/1/2014 0:01:00  40.2201 -74.0021  B02512
1          9/1/2014 0:01:00  40.7500 -74.0027  B02512
2          9/1/2014 0:03:00  40.7559 -73.9864  B02512
3          9/1/2014 0:06:00  40.7450 -73.9889  B02512
4          9/1/2014 0:11:00  40.8145 -73.9444  B02512
...                     ...      ...      ...     ...
1028131  9/30/2014 22:57:00  40.7668 -73.9845  B02764
1028132  9/30/2014 22:57:00  40.6911 -74.1773  B02764
1028133  9/30/2014 22:58:00  40.8519 -73.9319  B02764
1028134  9/30/2014 22:58:00  40.7081 -74.0066  B02764
1028135  9/30/2014 22:58:00  40.7140 -73.9496  B02764

[1028136 rows x 4 columns]

In [55]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028136 entries, 0 to 1028135
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Date    1028136 non-null  object
 1   Lat     1028136 non-null  float64
 2   Lon     1028136 non-null  float64
 3   Base    1028136 non-null  object
dtypes: float64(2), object(2)
memory usage: 31.4+ MB

In [56]:
uber[["Date","Time"]] = uber.Date.str.split(" ",expand=True)

In [57]:
uber = uber[['Date','Time','Lat','Lon','Base']]

In [59]:
uber.to_csv('Uber_Final.csv',index = False)